NODE_ENV=development
NEXT_TELEMETRY_DISABLED=1
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
DJANGO_BACKEND=http://localhost:8000
DJANGO_BACKEND_CLIENT_ID="fWgEnL4rZhcyJkrjOSRNwXnrSUDbNjdz6QkdhibQ"
NEXTAUTH_SECRET="sO7WAZqNkFi1MRYeRgkv5AIDwHKh+MLBhB4t4yWgWKs="
SA_GOOGLE_OAUTH2_KEY=""
SA_GOOGLE_OAUTH2_SECRET=""
SA_FACEBOOK_LOGIN_KEY=""
SA_FACEBOOK_LOGIN_SECRET=""
SA_TWITTER_API_V2_KEY=""
SA_TWITTER_API_V2_SECRET=""
SA_INSTAGRAM_AUTH_KEY=""
SA_INSTAGRAM_AUTH_SECRET=""
